body {
    background-color: #86130b;
}

a {
    color: aliceblue;
    font-family: Tahoma;
}

p {
    color: aliceblue;
    font-family: Tahoma;
}

h1 {
    color: aliceblue;
    font-family: Tahoma;
}

