:root {
    --primary: #86130b;
    ;
    --bg: #155c25;

}

* {
    font-family: 'poppins' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(#fff);
    color: #fff;
    min-height: 5000px;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #86130b;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}


.navbar .navbar-logo span {
    color: var(#f1dec0);
}


.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;
}


.navbar .navbar-nav a:hover {
    color: var(--bg);
}


.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
}


.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
}


.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}


.navbar .navbar-extra a:hover {
    color: var(--bg)
}


#hamburger-menu {
    display: none;
}

/* Hero Section*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(21, 92, 37) 8%, rgba(255, 255, 255, 0) 50%);
}


.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}


.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.3;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(255, 254, 252, 0.993);
    color: #fff;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--bg);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about {
    padding: 10rem 7% 1.4rem;
    background-color: #155c25;
}

.about h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #fff;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6;
    color: #fff;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
}

.about .row .about-video {
    display: flex;
    flex-wrap: wrap;
}

/* Menu Section */
.menu {
    padding: 10rem 7% 1.4rem;
    background-color: #86130b;
}

.menu h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffff;
}

.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.5;
}

.menu h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #155c25;
}

.menu h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 1rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 50%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1rem auto 0.5rem;
}

/*Contact Section*/
.contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #86130b;
}

.contact {
    background-color: #155c25;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #eec7d3;
    flex-wrap: wrap;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row from {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row from .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(#155c25);
    cursor: pointer;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 90%;
    }
}